
.avatar {
  width: 200px;
  height: 200px;
}

.btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
    background-color: #1f2c35 !important;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 2em;
    color: #2b2b2b;
    text-transform: uppercase;
}

<<<<<<< HEAD
.navbar-nav {
  font-size: 19.5px
}
=======
>>>>>>> 00e8fac986798ea00534c13f2a99753ddec92ca2


.big-icon {
    font-size: 1.7rem;
}


h1 {
    font-size: 1.75rem;
}

body {
    font-size: .9rem;
}

.home-section {
        padding: 75px 0 75px 0;
    }

footer{
  margin: 0rem 0 0;
}
